body{
    margin: 0;
    padding: 0;
    background-image: url(./Cool\ Sky.jpg);
}
#title{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 5%;
    left: 50%;
}
#windows{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
    border-radius: 10px;
    border: 3px;
}
#question{
    width: 400px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    transition: 0.2s;
    border: none;
    resize: none;
}
#question:hover{
    height: 60px;
    border-radius: 10px;
    width: 500px;
}
#question:focus{
    height: 60px;
    border-radius: 10px;
    width: 500px;
}
#send{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    transition: 0.2s;
    color: #3366ff;
}
#send:hover{
    height: 45px;
    width: 45px;
}
#chat{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-height: 450px;
    overflow: auto;
    min-width:300px;
}
#main{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 53%;
    left: 50%;
    width: 600px;
    height: 300px;
    text-align: center;
}
#New{
	z-index: -1;
    color: white;
    top: 28%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
#newchat{
    background-color: #3366ff;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    color: white;
    border: none;
    transition: 0.2s;
}
#newchat:hover{
    width: 150px;
}
ul li{
    list-style-type: none;
}
